
@using Business.Globalization
@using Business.SessionImpl
@using Business.Enums

@{
    GlobalizationManager _GlobalizationManager = SessionHandler.Instance.Get<GlobalizationManager>(SessionEnum.Language_Info);
    ViewBag.Title = _GlobalizationManager.GetTranslatedText("Welcome To Maskan Imarat And Masr", Enum_LangModule.MaskanWeb, "25");
}

<section>
    <div class="video">
        <div class="container">
            <div class="video-container responsive-video">
                <iframe width="853" height="300" src="//www.youtube.com/embed/YLLTFu8kqLs?rel=0" frameborder="0"></iframe>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<section>
    <div class="news" id="news-list">
        <div class="container">
            <div class="section">
                <h5>@_GlobalizationManager.GetTranslatedText("Maskan your correct choice", Enum_LangModule.MaskanWeb, "26")</h5>
                <h6></h6>
            </div>
            <div class="row top-news-list"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<div class="matches">
    <div class="container">
        <h2>@_GlobalizationManager.GetTranslatedText("Maskan.com, 3Qarat World Easy and Special", Enum_LangModule.MaskanWeb, "33")</h2>
        <p>
            إلى كل من يشعر أنه يتوه في عالم الأرقام الكبيرة , مسكن توفر وسيلة سلسة و سهلة الفهم. بما أن الطريقة الوحيدة لتبسيط البيانات الهائلة هي الرسومات البيانية, تقدم مسكن خيار إظهار و استخدام العرض البياني لبحث العقارات الشائع, مما يجعل عملية استقطاب المعلومات أسهل لك.
            إذا كنت ممن هم على علم بكيفية تطبيق هذه الأداة و لديك فكرة عن مدى تأثيرها فأنت تعلم تماماً كيف يمكنها مساعدتك في اتخاذ أكثر قرارات الأعمال ذكاءً في مشوارك المهني.
        </p>
    </div>
</div>
<div class="pin ">
    <div class="container">
        <div class="pinImg">
            <div class="img1">
                <div class="row">
                    <div class="col-md-5 col-md-push-3">
                        <img src="/content/masknvr1/img/second.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-7">
                        <p class="imgName">&nbsp;&nbsp;&nbsp;   @_GlobalizationManager.GetTranslatedText("Visit Website", Enum_LangModule.MaskanWeb, "34")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-push-1">
                        <p>@_GlobalizationManager.GetTranslatedText("I Think your viste to our website is very good thisng", Enum_LangModule.MaskanWeb, "35")</p>
                    </div>
                </div>
            </div>
            <div class="img2">
                <div class="row">
                    <div class="col-md-4 col-md-push-3">
                        <img src="/content/masknvr1/img/search.png" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p class="imgName">@_GlobalizationManager.GetTranslatedText("Search Tools", Enum_LangModule.MaskanWeb, "36")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>@_GlobalizationManager.GetTranslatedText("Maskan.com Introduce various search tools", Enum_LangModule.MaskanWeb, "37")</p>
                    </div>
                </div>
            </div>
            <div class="img3">
                <div class="row">
                    <div class="col-md-4 col-md-push-3">
                        <img src="/content/masknvr1/img/happy.png" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p class="imgName">@_GlobalizationManager.GetTranslatedText("Happy Home", Enum_LangModule.MaskanWeb, "38")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>@_GlobalizationManager.GetTranslatedText("we have a call center team to serve you", Enum_LangModule.MaskanWeb, "39")</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pinMobile">
            <div class="row">
                <div class="col col-sm-12">
                    <img src="/content/masknvr1/img/second.jpg" class="img-responsive" style="width: 150px; height: 180px; margin: 0 auto">
                    <h5>زيارة الموقع</h5>
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                </div>
                <div class="col col-sm-12">
                    <img src="/content/masknvr1/img/search.png" class="img-responsive" style="width: 150px; height: 180px; margin: 0 auto">
                    <h5>بحث  </h5>
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                </div>
                <div class="col col-sm-12">
                    <img src="/content/masknvr1/img/happy.png" class="img-responsive" style="width: 150px; height: 180px; margin: 0 auto">
                    <h5>البيت السعيد </h5>
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="update">
    <div class="container">
        <h2>@_GlobalizationManager.GetTranslatedText("Joining Maskan Email News", Enum_LangModule.MaskanWeb, "40")</h2>
        <p>
           @_GlobalizationManager.GetTranslatedText("Join Emails to get lates news", Enum_LangModule.MaskanWeb, "41")
        </p>

        <div class="row">
            <div class="col-lg-3"></div>
            <form class="col-lg-6">
                <div class="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg"
                        placeholder="@_GlobalizationManager.GetTranslatedText("Enter your email", Enum_LangModule.MaskanWeb, "42")" />
                        
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-send"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>